@font-face {
  font-family: 'MyCustomFont';
  src: url('../../assets/fonts/Hanson-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif;
}


.glow-red {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.4);
}
