@import "tailwindcss";

@font-face {
  font-family: "Hanson";
  src: url("/fonts/Hanson-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --color-primary:#B21617; 
  --color-secondary:#DADAD0; 
  --color-accent:#141813; 
  --color-blood:#FF0002;

  --font-hanson: "Hanson", sans-serif;
}

/* Ini tetap di paling bawah */
@tailwind utilities;