
@import "tailwindcss";

@font-face {
  font-family: "Hanson";
  src: url("/fonts/Hanson-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Jalan otomatis */
.marquee {
  animation: marquee 18s linear infinite;
}

/* Hover = berhenti */
.group:hover .marquee {
  animation-play-state: paused;
}

/* Hilangkan scrollbar (tetap bisa scroll manual) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@theme {
  --color-primary:#B21617;
  --color-secondary:#DADAD0;

  --font-hanson: "Hanson", sans-serif;
  --font-figtree: "Figtree", sans-serif;
}

@tailwind utilities;