
@import "tailwindcss";

@font-face {
  font-family: "Hanson";
  src: url("/fonts/Hanson-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@keyframes marquee2 {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee2 {
  animation: marquee2 12s linear infinite;
}


@theme {
  --color-primary:#B21617;
  --color-secondary:#DADAD0;

  --font-hanson: "Hanson", sans-serif;
}

@tailwind utilities;